<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand text-light" href="#">Navbar</a>
        <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-light " id="navbarNavDropdown">
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <button class="nav-link active text-light" aria-current="page" routerLink="/home">Home</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link text-light" routerLink="/products">products</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link text-light" *ngIf="!isLoggedIn" routerLink="/login">login</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link text-light" *ngIf="!isLoggedIn" routerLink="/signup">signup</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link text-light" routerLink="/cart">cart {{count}}</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link text-light" *ngIf="isLoggedIn" (click)="logOut()">logout</button>
                </li>

            </ul>
        </div>
        <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form> -->
    </div>
</nav>